@charset "UTF-8";

        body{
            margin: 0;
            background-attachment: fixed;
            background-position: center center;
            background-image: url(imagens/fundo-madeira.jpg);
            background-repeat: no-repeat;
            background-size: cover;            
        }

        #celular{
            position: absolute;
            background: url(imagens/frame-iphone.png);
            height: 627px;
            width: 311px;
            margin: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #celular > iframe{
            position: absolute;
            height: 471px;
            width: 266px;
            margin-top: 80px;
            margin-left: 21px;

        }

        #botões{
            text-align: right;
        }

        #botões img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 2px 2px 2px black;
            margin: 10px;
        }
        #botões img:hover{
            border: 2px solid rgb(255, 255, 255);
            transition-duration: 0.15s;
        }