@charset "UTF-8";

@font-face {
    font-family: formula1;
    src: url(fonts/Formula\ 1.ttf);
}

body{
    background-color: black;
    margin: 0px;
    background-image: url(imagens/carro\ redbull.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;

}

#inicio > h1{
    margin: 0;
    color: rgba(255, 0, 0, 0.882);
    font-size: 150px;
    font-family: Formula1;
    margin-top: 100px;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 20px;
}

#inicio > h2{
    margin: 0;
    color: rgba(255, 0, 0, 0.882);
    font-size: 70px;
    font-family: Formula1;
    margin-top: 0px;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 20px;
}

#inicio > p{

    margin: 0;
    color: rgba(255, 255, 255, 0.882);
    font-size: 100px;
    margin-top: 220px;
    margin-left: 200px;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 20px;
}