@charset "UTF-8";

@font-face {
    font-family: cordel;
    src: url(font/Cordel\ Groteska.otf);
}

@font-face {
    font-family: cordel1;
    src: url(font/cordelina.otf);
}

body{
    margin: 0px;
}

#titulo{ 
    background-color: black;
    color: white;
    height: 300px;
    width: 100%;
}

#titulo > h1{
    font-family: cordel1;
    text-align: center;
    padding-top: 70px;
    font-size: 11vh;
    margin: 0;
}

#titulo > p{
    text-align: center;
}

p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

p > a:hover{
    text-decoration: underline;
}

#estrofe1 > p{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.374);
    font-family: cordel;
    margin: 0;
    font-size: 2.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 10vh;
}

#estrofe2{
    background-color: rgb(82, 82, 82);
    height: 650px;
    width: 100%;
    padding-top: 150px;
    background-image: url(imagens/background001.jpg);
    background-position: right bottom ;
    background-size: cover;
    background-attachment: fixed;
}
#estrofe2 > #estrofe10{
    font-family: cordel;
    background-color: rgba(0, 0, 0, 0.573);
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    line-height: 60px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-left: 70px;
    height: 450px;
    width: 35vw;
}

#estrofe3 > #pt1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.374);
    font-family: cordel;
    margin: 0;
    font-size: 2.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 2.5vh;
}

#estrofe3 > #pt2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.374);
    font-family: cordel;
    margin: 0;
    font-size: 2.5vw;
    line-height: 2em;
    padding-top: 2.5vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 10vh;
}

#estrofe4{
    background-color: rgb(82, 82, 82);
    height: 650px;
    width: 100%;
    padding-top: 150px;
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#estrofe4 > #estrofe9{
    font-family: cordel;
    background-color: rgba(0, 0, 0, 0.573);
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    line-height: 60px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-left: 70px;
    height: 450px;
    width: 35vw;
}

#estrofe5 > #pt1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.374);
    font-family: cordel;
    margin: 0;
    font-size: 2.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 2.5vh;
}

#estrofe5 > #pt2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.374);
    font-family: cordel;
    margin: 0;
    font-size: 2.5vw;
    line-height: 2em;
    padding-top: 3.5em;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 10vh;
}

#rodape{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    text-align: center;
}

strong > a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    text-align: center;
}

strong > a:hover{
    text-decoration: underline;
    color: white;
}

#rodape > p{
    margin: 0;
}

